https://github.com/wazo-pbx/xivo-test-helpers/archive/master.zip
https://github.com/wazo-pbx/xivo-provd-client/archive/master.zip
https://github.com/wazo-pbx/xivo-auth-client/archive/master.zip
https://github.com/wazo-pbx/xivo-lib-rest-client/archive/master.zip
https://github.com/wazo-pbx/xivo-confd/archive/master.zip#subdirectory=integration_tests
https://github.com/wazo-pbx/wazo-admin-ui/archive/master.zip#subdirectory=integration_tests
docker-compose
nose
pyhamcrest
psycopg2  # sqlalchemy engine
pyvirtualdisplay
requests
selenium
sqlalchemy
kombu
