{% extends "layout.html" %}

{% block content_header %}
  {{ build_breadcrumb('Users', '', 'user', ['List']) }}
{% endblock %}

{% block content %}
  {% call build_form_containers('User' ~ ' ' ~ resources.user.name, 'user') %}
    {% call build_form(action=url_for('.UserView:put', id=resources.user.uuid)) %}
      {% call add_default_fields(form=form, submit_value="Update") %}
	    {{ render_field(form.firstname) }}
	    {{ render_field(form.lastname) }}
      {% endcall %}
    {% endcall %}
  {% endcall %}

{% endblock %}
