{% extends "layout.html" %}

{% block content_header %}
  {{ build_breadcrumb('Users', '', 'user', ['List']) }}
{% endblock %}

{% block content %}
  <section class="content">
    {% call build_list_containers('User', 'user') %}
      {% call build_list_table(serverside=True) %}
        {% call build_list_table_headers() %}
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Extension</th>
          <th>Code</th>
          {{ add_list_table_header_action() }}
        {% endcall %}
      {% endcall %}
    {% endcall %}

    {% call build_hidden_add_containers('Add User') %}
      {% call build_form() %}
        {% call add_default_fields(form=form, submit_value="Add") %}
	  {{ render_field(form.firstname) }}
	  {{ render_field(form.lastname) }}
          {% do form.lines.append_entry() %}
          {% for line in form.lines %}
	    {{ render_field(line.extension) }}
	    {{ render_field(line.context, data_listing_href=url_for(listing_urls['context_by_type'], type_='internal')) }}
	    {{ render_field(line.protocol) }}
          {% endfor %}
        {% endcall %}
      {% endcall %}
    {% endcall %}
  </section>
{% endblock %}

{% block additional_js %}
  {% set list_url = url_for('.UserView:list_json') %}
  {% set get_url = url_for('.UserView:get', id='') %}
  {% set delete_url = url_for('.UserView:delete', id='') %}
  <script type="text/javascript">
    $(document).ready(function() {
        create_list_table('{{ list_url }}', '{{ get_url }}', '{{ delete_url }}');
    });
  </script>
  <script src="{{ url_for('.static', filename='js/user.js') }}"></script>
{% endblock %}
