{% extends "layout.html" %}

{% block content_header %}
  {{ build_breadcrumb('Users', '', 'user', ['List']) }}
{% endblock %}

{% block content %}

  <section class="content">
    <div class="col-md-8">
      <div class="box box-primary">
        <div class="box-header with-border">
          <i class="fa fa-user"></i>
          <h3 class="box-title">Users</h3>
          <div class="box-tools">
            <a href="#" id="add-form" class="btn btn-box-tool">
              <i class="fa fa-plus"></i>
            </a>
          </div>
        </div>

        <div class="box-body">
          <table id="table-list-serverside" class="table table-condensed">
            <thead>
              <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th class="no-sort" style="width: 80px">Actions</th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="box box-info hidden" id="view-add-form">
        <div class="box-header with-border">
          <h3 class="box-title">Add User</h3>
          <div class="pull-right box-tools">
            <button data-original-title="Remove" type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="">
              <i class="fa fa-minus"></i>
           </button>
         </div>
        </div>

        <form class="form-horizontal" method="post" action="">
        <div class="box-body">
          {{ form.csrf_token() }}
	  {{ render_field(form.firstname) }}
	  {{ render_field(form.lastname) }}
	</div>
        <div class="box-footer">
	  {{ render_field(form.submit, class_="btn btn-primary pull-right", value="Add", with_label=False) }}
        </div>
        </form>
      </div>

    </div>
  </section>

{% endblock %}

{% block additional_js %}
  {% set list_url = url_for('.UserView:list_json') %}
  {% set get_url = url_for('.UserView:get', id='') %}
  {% set delete_url = url_for('.UserView:delete', id='') %}
  <script type="text/javascript">
    $(document).ready(function() {
        create_list_table('{{ list_url }}', '{{ get_url }}', '{{ delete_url }}');
    });
  </script>
  <script src="{{ url_for('.static', filename='js/user.js') }}"></script>
{% endblock %}
