#!/bin/sh
# Copyright 2017 The Wazo Authors  (see the AUTHORS file)
# SPDX-License-Identifier: GPL-3.0+

export PYTHONPATH=$PYTHONPATH:${pkgdir}/usr/local/lib/python2.7/dist-packages

case "$1" in
    build)
        python setup.py build
        ;;

    package)
        cp -R etc ${pkgdir}/etc
        python setup.py install --prefix ${pkgdir}/usr/local --install-layout deb
        ;;

    install)
        systemctl restart wazo-admin-ui
        ;;

    uninstall)
        ;;

    *)
        echo "$0 called with unknown argument '$1'" >&2
        exit 1
    ;;
esac
