{% extends "layout.html" %}

{% block content_header %}
  {{ build_breadcrumb('Users', '', 'user', ['List']) }}
{% endblock %}

{% block content %}
  <section class="content">
    {% call build_list_containers('User', 'user') %}
      {% call build_list_table(list=url_for('.UserView:list_json')) %}
        {% call build_list_table_headers(get=url_for('.UserView:get', id=''), delete=url_for('.UserView:delete', id='')) %}
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Extension</th>
          <th>Code</th>
        {% endcall %}
      {% endcall %}
    {% endcall %}

    {% call build_hidden_add_containers('Add User') %}
      {% call build_form() %}
        {% call add_default_fields(form=form, submit_value="Add") %}
          {{ render_field(form.firstname) }}
          {{ render_field(form.lastname) }}
          {{ render_field(form.email) }}
          {{ render_field(form.password, type='password', data_toggle='password') }}
          {% do form.lines.append_entry() %}
          {{ render_field(form.lines[0]['id']) }}
          {{ render_field(form.lines[0].endpoint_sip_id) }}
          {{ render_field(form.lines[0].endpoint_sccp_id) }}
          {{ render_field(form.lines[0].endpoint_custom_id) }}
          {{ render_field(form.lines[0].extensions[0]['id']) }}
          {{ render_field(form.lines[0].extensions[0].exten,
                          divclass='col-sm-4',
                          inputclass='ui-helper-clearfix',
                          class_='line-extension',
                          data_allow_custom_values=True,
                          data_available_extension_href=url_for(listing_urls['available_extension_user'])) }}
          {{ render_field(form.lines[0].context,
                          with_label=False,
                          divclass='col-sm-4',
                          placeholder='Choose Context',
                          class_='line-context',
                          data_listing_href=url_for(listing_urls['context_by_type'], type_='internal')) }}
          {{ render_field(form.lines[0].protocol) }}
        {% endcall %}
      {% endcall %}
    {% endcall %}
  </section>
{% endblock %}

{% block additional_js %}
  <script src="{{ url_for('.static', filename='js/user.js') }}"></script>
{% endblock %}
